.Red {
    color: red;
}
.Green {
    color: #006400;
}
.White {
    color: white !important;
}
.profit-font {
    font-size: 20px;
    font-weight: bold;
}
.Icon-color {
    color: white !important;
}