.Header {
    color: white;
    background-color: #696969;
    min-height: auto;
    width: auto;
    padding: 10px;
}
.userSection {
    color: white;
    width: 100%;
}
.Button {
    margin: 10px !important; 
}

@media (max-width: 500px) {
    .Header {
        width: 100%;
    }
    .userSection {
        color: white;
        width: 100%;
    }
    .Button {
        margin: 1px !important; 
    }
}