.Score {
    color: yellow;
    font-size: 60px;
    margin-left: 40px;
}

.Score-Card {
    color: white;
    font-size: 80px;
}
.Score-Text {
    color: lightgray;
    font-size: 20px;
    margin-left: 10px;
}
.Divider {
    background-color: gray !important;
}
h4{
    margin: 3px;
}