.footer {
  color: #cce4fb;
  margin: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.bet-text {
  border-radius: 25;
  border: '2px solid #338efa';
}
.button {
  color: white !important;
  background-color: #338efa !important;
  margin-left: 10px !important;
}
.logo {
  border: 10px solid #ffffff;
  border-radius: 15px;
  margin-bottom: 15px;
}
.language {
  margin-top: 10px;
}
.avatar {
  margin-left: 16px;
}
.input {
  color: white !important;
  padding: 6px;
  font-weight: 600;
  padding-left: 20px;
  // margin: 5px;
}
.Footer-Right {
  float: right;
}
.copyright {
  margin-top: 10px;
  width: 80%;
}
